html, body
{
	height: 100%;
	width: auto;
	padding: 0;
	margin: 0px;
	overflow-x: hidden;
	/* background-color: black;
	background-size: cover; */
}

body
{
	display: flex;
}

body div:first-of-type
{

}

h1
{
	font-family: 'Fascinate', serif;
	margin: 0;
	font-size: 2vw;
	/* position: absolute;
	margin: auto;
	width: 100%;
	text-align: center;
	top: 15vh;
	font-size: 5vw;
	color: #ffffffa0; */
}

p
{
	font-family: 'Fira Code', monospace;
}

img
{
	/* width: 20vw; */
}

#said
{
	width: 100vw;
	min-height: 2.5vw;
	background-color: black;
	color: white;
	position: fixed;
	z-index: 100;
	text-align: center;
}

#codeWindow
{
	padding: 2vw;
	box-sizing: border-box;
	width: 25vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.7);
	color: white;
	/* border-right: 2vw solid lightblue; */
	border-top: 4vw solid black;
	position: absolute;
	z-index: 10;
	left: -25vw;
}

pre
{
	white-space: pre-wrap;
}


#test
{
	position: absolute;
	bottom: 20px;
	right: 20px;
}

.numbersDiv
{
	position: absolute;
	top: 0; left: 0;
	pointer-events: none;
	display: none;
	outline: green;
}

.elementNumber
{
	position: absolute;
	color: red;
	border-radius: 50%;
	background-color: yellow;
	height: 3vw;
	width: 3vw;
	padding: 0.5vw;
	text-align: center;
}

#resultPage
{
	background-color: white;
	width: 100vw;
	top: 2.5vw;
	left:0;
	position: relative;
	flex-wrap: wrap;
	display: flex;
	align-content: flex-start;
}

#resultPage div
{
	display: flex;
	align-content: flex-start;
	flex-wrap: wrap;
}

#resultPage h1
{
	font-size: 2.8vw;
}

#resultPage p
{
	font-size: 0.8vw;
	font-family: 'Open Sans', sans-serif;
}

#resultPage *
{
	position:relative;

	/* for animation */
	transition: all 1s ease;
	top: 0; left: 0;
	text-align: left;
	opacity: 1.0;
}

#resultPage img
{
	width: 40%;
}

#imageSelect
{
	width: 100vw;
	height: 100vh;
	position: absolute;
	background: rgba(255,255,255, 0.8);
	z-index: 5;
	opacity: 0.0;
	/* display: none; */
}

.halfGallery
{
	display: flex;
	flex-wrap: wrap;
	width: 55vw;
	left: 22.5vw;
	height: 25vw;
	position: relative;
	z-index: 3;
	/* border: 1px solid black; */
	align-items:center;
}

#searchGalleryTop
{
	/* align-content: flex-end; */
	/* margin-top: 2vw; */
	align-items: flex-end;
}

#searchGalleryBottom
{
	align-items: flex-start;
	/* align-content: flex-start; */
	/* flex-direction: column; */
	/* align-content: flex-start; */
	/* width: 55vw;
	left: 22.5vw; */
	/* top: 3vw;
	height: 50vw;
	position: absolute;
	z-index: 3; */
}

/* #searchGallery img */
.halfGallery img
{
	margin-top: 8%;
	margin-left: 8%;
	width: 25%;
	max-width: 28%;
	object-fit: contain;
	/* max-height: 10vw; */
	/* transition: 1s; */
}

#imageNumbers
{
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	z-index: 5;
	/* display: none; */
}

#helpText
{
	width: 27vw;
	top: 8vw;
	left: 5vw;
	transform: rotate(-10deg);
	position: absolute;
	z-index: 100;
	text-align: center;
	pointer-events: none;
	user-select: none;
}

.circle
{
	border-radius: 50%;
	width: 20vw;
	height: 20vw;
	background-color: lightblue;
}

.square
{
	width: 20vw;
	height: 20vw;
	background-color: lightblue;
}

.animated
{
	transition: all 0.5s ease 0s;
	/* transition: transform 2s ease 0s, opacity 0.5s ease 0s; */
}

input
{
	position:absolute;
	width: 10vw;
	height: 2vw;
}
